<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AcademySolutionEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3NL4KDR\SQLEXPRESS;initial catalog=AcademySolution;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AcademySolutionEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3NL4KDR\SQLEXPRESS;initial catalog=AcademySolution;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="aplication.Properties.Settings.AcademiaSolutionsConnectionString"
      connectionString="Data Source=DESKTOP-3NL4KDR\SQLEXPRESS;Initial Catalog=AcademiaSolutions;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="aplication.Properties.Settings.DbAcademySolution"
      connectionString="Data Source=DESKTOP-3NL4KDR\SQLEXPRESS;Initial Catalog=AcademySolution;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>